<div class="section no-pad-bot" id="index-banner">
	<div class="container header-container col s12 m8 l4 offset-l4 offset-m2">
		<img class="landing-logo-geo center-image" src="./inc/images/logo-v1.7.png">
		<h1 class="center header-text amber-text text-accent-2"><span class="green-text text-darken-3">Geo</span> <span class="indigo-text">Intel</span></h1>
		<!-- <img class="header-logo center-image" src="./inc/images/MI_logo_v2.6.2.png"> -->
		<div class="landing_direction-holder">
			<p id="landing_direction" class="center grey-text text-darken-2"></p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col s12 m8 l4 offset-l4 offset-m2">
			<div class="card">
				<div class="card-content">
					<i id="landing-back" class="material-icons small up hidden">chevron_left</i>
					<!-- <img class="landing-logo center-image" src="./inc/images/MI_logo_v2.9.1.png"> -->
					<div class="account-label-holder">
						<p id="accountname" class="center grey-text text-darken-4 accountname"></p>
						<p id="accountemail" class="center grey-text accountemail"></p>
					</div>
				</div>
				<div id="landing-loader" class="progress white landing-loader">
					<div class="indeterminate"></div>
				</div>
				<div id="card_action" class="card-action">
					<div class="row">
						<div id="landing_email" class="col s12">
						</div>
						<div id="landing_password" class="col s12">
						</div>
					</div>
				</div>
			</div>
			<p id="logout" class="amber-text text-darken-2 logout pull-right"><span id="logout_confirm" class="change_user clickable tooltipped" data-position="right" data-delay="200" data-tooltip="Not you?">change user</span></p>
		</div>
	</div>
</div>